[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torch-geometric = "*"
numpy = "*"
pandas = "*"
torch-scatter = "*"
torch-sparse = "*"
torch-cluster = "*"
torch-spline-conv = "*"

[dev-packages]
jupyter = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
pytest = "*"

[requires]
python_version = "3.8" 